<%= form_for(@message) do |f| %>
    <%= render '/shared/form_errors', entity: @message %>

    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.label :machine_id %><br>
      <%= f.text_field :machine_id %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>